
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Password Change Request</title>
    <style>
        * {
            font-size: 12px
        }
    </style>
</head>
<body style="background: #f2f2f2;">
    <table style="width: 100%;margin: 0 auto; background: #fff; font-family: sans-serif;font-size: 12px;border: 2px solid #37c54d;border-spacing: 0;padding: 15px;">
        <tbody>
            <tr>
                <td>
                    <table style="width: 100%;margin: 20px auto 10px; background: #fff; font-family: sans-serif;font-size: 12px;border: none;border-spacing: 0">
                        <tbody>
                            <tr>
                                <td>
                                    <p><b>Email Confirmation: </b>@Model</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>

