<section class="panel custom_panel panel-warning">
    <header class="panel-heading custom-heading" style="border-radius: 5px;border-bottom: 0;">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
        </div>

        <h2 class="panel-title" style="font-size:13px;letter-spacing: 0;">
            <strong>Warning!</strong> @ViewBag.Message
        </h2>
    </header>
</section>